Flask==2.0.1
Werkzeug==2.0.3
gunicorn==20.1.0
tradingview-ta==3.3.0
requests>=2.31.0
charset-normalizer==2.0.0
python-dotenv==1.0.0
email-validator==1.1.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.46
psycopg2-binary>=2.9.5
tradingview-screener==3.0.0
resend
