<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scan cryptocurrencies by Bollinger bandwidth in one click. Browse coins integrated with TradingView. Just the tool you need in bull season. find the coins that will rise in advance.">
</head>
<body>
<h2 align="center"> Coins filtered in 1h time frame</h2>
<button onclick="goBack()">Go Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<table class="paleBlueRows" style="height: 95px;" width="381">
    <thead>
    <tr>
        <th>symbol</th>
        <th>exchange-coin</th>
        <th>Bolinger Band Width</th>
        <th>price</th>
        <th>change</th>
    </tr>
    </thead>
    {% for dict_item   in line_list %}
        {% for coin,value  in dict_item.items() %}
            <tbody>
            <tr>
                {% set coins  =coin.split(':') %}
                {% set coin_name=coins[1][:-4] %}
                <td><img src="https://s3-symbol-logo.tradingview.com/crypto/XTVC{{ coin_name }}.svg" height=50
                         width=50 style=" border-radius:50%;">
                <td>
                    <a href="http://www.tradingview.com/chart/?symbol={{ coins[0] }}%3A{{ coins[1] }}">
                        <div style="height:100%;width:100%">
                            {{ coins[1] }}
                        </div>
                    </a>
                <td>{{ value[1] }}</td>
                <td>{{ value[0] }}</td>
                <td>%{{ value[2] }}</td>
            </tr>
            </tbody>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>